:root{
    --main-bg-color: #ffffff00;
    --sidebar-bg-color: #515151;
    --p-bg-color: #87CEEB;
    --element-bg-color: #515151;
    --dark: #000;
    --light: #fff;
    --main-text-color: #87CEEB;
    --green: #0ECB81;
    --red: #F00;
    --roboto: 'Roboto', serif;
    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Monsterrat', sans-seriif;
}